[submodule "packages/evil"]
	path = packages/evil
	url = https://github.com/emacs-evil/evil
[submodule "packages/use-package"]
	path = packages/use-package
	url = https://github.com/jwiegley/use-package
[submodule "packages/magit"]
	path = packages/magit
	url = https://github.com/magit/magit
[submodule "packages/evil-magit"]
	path = packages/evil-magit
	url = https://github.com/emacs-evil/evil-magit
[submodule "packages/dash"]
	path = packages/dash
	url = https://github.com/magnars/dash.el
[submodule "packages/packages/magit-popup"]
	path = packages/packages/magit-popup
	url = https://github.com/magit/magit-popup
[submodule "packages/packages/with-editor"]
	path = packages/packages/with-editor
	url = https://github.com/magit/with-editor
[submodule "packages/js2-mode"]
	path = packages/js2-mode
	url = https://github.com/mooz/js2-mode
[submodule "packages/company-mode"]
	path = packages/company-mode
	url = https://github.com/company-mode/company-mode
[submodule "packages/flycheck"]
	path = packages/flycheck
	url = https://github.com/flycheck/flycheck/
[submodule "packages/smartparens"]
	path = packages/smartparens
	url = https://github.com/Fuco1/smartparens
[submodule "packages/lsp-mode"]
	path = packages/lsp-mode
	url = https://github.com/emacs-lsp/lsp-mode
[submodule "packages/company-lsp"]
	path = packages/company-lsp
	url = https://github.com/tigersoldier/company-lsp
[submodule "packages/lsp-ui"]
	path = packages/lsp-ui
	url = https://github.com/emacs-lsp/lsp-ui
[submodule "packages/rjsx-mode"]
	path = packages/rjsx-mode
	url = https://github.com/felipeochoa/rjsx-mode
[submodule "packages/f"]
	path = packages/f
	url = https://github.com/rejeep/f.el
[submodule "packages/s"]
	path = packages/s
	url = https://github.com/magnars/s.el
[submodule "packages/ht"]
	path = packages/ht
	url = https://github.com/Wilfred/ht.el
[submodule "packages/spinner"]
	path = packages/spinner
	url = https://github.com/Malabarba/spinner.el
[submodule "packages/markdown-mode"]
	path = packages/markdown-mode
	url = https://github.com/jrblevin/markdown-mode
[submodule "packages/projectile"]
	path = packages/projectile
	url = https://github.com/bbatsov/projectile
[submodule "packages/minimal-theme"]
	path = packages/minimal-theme
	url = https://github.com/anler/minimal-theme
[submodule "packages/swiper"]
	path = packages/swiper
	url = https://github.com/abo-abo/swiper
[submodule "packages/git-gutter"]
	path = packages/git-gutter
	url = https://github.com/syohex/emacs-git-gutter
[submodule "packages/ag.el"]
	path = packages/ag.el
	url = https://github.com/Wilfred/ag.el
[submodule "packages/with-editor"]
	path = packages/with-editor
	url = ./packages/with-editor/
[submodule "packages/magit-popup"]
	path = packages/magit-popup
	url = ./packages/magit-popup/
